@import url(https://fonts.googleapis.com/css?family=Pirata+One:regular);

:root {
  --font-color: #111;
  --shadow-color: #FFF;
  --background-color: #22222255;
  --border-color: #454545;
}


@keyframes textAnimation {
  0% {
    filter: blur(12px);
    transform: scale(2.4);
    opacity: 0;
  }

  100% {
    filter: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes moveAnimation {
  0% {
    transform: scale(0.01) rotate(720deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes messageAnimation {
  0% {
    filter: blur(30px);
    transform: scale(2.4);
    opacity: 0;
  }

  100% {
    filter: none;
    transform: none;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pirata One', sans-serif;
}

/* INDEX PAGE */
body {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(images/index-page-bg.jpg);
  background-size: cover;
  background-position: center;
}

body>h1 {
  font-size: 4rem;
  color: var(--font-color);
  text-shadow: 0 0 12px var(--shadow-color);
  letter-spacing: 0.3rem;
  cursor: default;
}

body>h2 {
  font-size: 2rem;
  color: var(--font-color);
  text-shadow: 0 0 12px var(--shadow-color);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  letter-spacing: 0.15rem;
  transition: 3s;
  cursor: default;
}

body>h2>span {
  animation: textAnimation 3s;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88vw;
  gap: 80px;
}

.container .card {
  position: relative;
  width: 210px;
  height: 310px;
  border-radius: 20px;
  cursor: pointer;
}

.container .card .imgBx {
  position: absolute;
  inset: 0;
  background: var(--background-color);
  box-shadow: 0 0 42px 2px var(--clr);
  border-radius: 20px;
  transition: 0.7s;
}

.container .card:hover .imgBx {
  box-shadow: 0 0 18px 1px var(--clr);
  transition: 0.7s;
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s;
  border-radius: 20px;
}

.container .card:hover .imgBx img {
  opacity: 0;
  transition: 0.7s;
}

.container .card .c3d {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  transition: 0.7s;
  transform: translateY(0);
}

.container .card:hover .c3d {
  opacity: 1;
  transform: translateY(-15%) scale(1.4);
  transition: 0.7s;
}

.card h2 {
  position: absolute;
  bottom: 42px;
  left: 70%;
  transform: translateX(-50%);
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  background: var(--clr);
  width: 80%;
  text-align: center;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.7s;
  opacity: 0;
}

.card:hover h2 {
  bottom: -32px;
  left: 30%;
  opacity: 1;
  transition: 0.7s;
}

/* Weapon Page */
.container .weaponBx {
  width: 420px;
  height: 310px;
  background: var(--background-color);
  border-radius: 20px;
  box-shadow: 0 0 42px 2px var(--clr);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container .weaponBx>img {
  transition: 0.5s;
}

.container .weaponBx>img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* GAME PART */
.container>.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.container>.board>.game {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container>.board>.game>.gameBx {
  width: 110px;
  height: 110px;
  background: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 0 24px 2px var(--shadow-color);
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container>.board>.game>.gameBx:active {
  border-top: 3px solid var(--border-color);
  border-left: 3px solid var(--border-color);
  box-shadow: none;
}

.container>.board>.game>.gameBx>img {
  width: 100%;
  height: 100%;
  animation: moveAnimation 1s;
}

.container>.board>.hero {
  box-shadow: 0 0 24px 2px #736550;
  background-color: var(--background-color);
  border-radius: 20px;
  width: 250px;
  height: 350px;
}

.message {
  font-size: 4rem;
  color: var(--font-color);
  text-shadow: 0 0 36px var(--shadow-color);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  letter-spacing: 0.4rem;
  transition: 2s;
  cursor: default;
}

.message>span {
  animation: messageAnimation 2s;
}

.reset {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2.4rem;
  padding: 10px 25px;
  margin-bottom: 25px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 24px 2px var(--shadow-color);
  background: var(--background-color);
  color: var(--shadow-color);
  font-size: 1rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
}

.reset:active {
  box-shadow: inset 0 0 1px 1px var(--border-color);
}